@using MyHomework20.Models;

@model UserLogin
@{
}
<html>
	<head>
		<link rel="stylesheet" href="~/css/style.css" />
	</head>
	<body>
	@using (Html.BeginForm("Login", "User"))
	{
		<div class="form-group">
			@Html.LabelFor(model => model.UserName)
			@Html.TextBoxFor(model => model.UserName, new{@class ="form-control"})
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.Password)
			@Html.TextBoxFor(model => model.Password, new{@class = "form-control"})
		</div>
		@Html.HiddenFor(model => model.ReturnUrl)
		<button type="submit" class="btn btn-primary">Войти</button>
	}
	</body>
</html>