@using MyHomework20.Models;
@model UserRegistration
@{
	ViewData["Title"] = "Регистрация";
	Layout = "_Layout";
}

<html>
	<head>

	</head>
	<body>
		<h1 class="title">
			@ViewData["Title"]
		</h1>
	@using (Html.BeginForm("Register", "User", FormMethod.Post))
	{
		<div class="form-group">
			@Html.LabelFor(model => model.UserName)
			@Html.TextBoxFor(model => model.UserName, new{@class = "form-control"})
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.Password)
			@Html.TextBoxFor(model => model.Password, new{@class = "form-control"})
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.ConfirmPassword)
			@Html.TextBoxFor(model => model.ConfirmPassword, new{@class = "form-control"})
		</div>
		<button type="submit" class="btn btn-primary">Зарегистрироваться</button>
	}
	</body>
</html>