@using Homework19.Models;
@model Contact
@{
	ViewData["Title"] = "Подробная информация";
}
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="~/css/style.css" />
	</head>

	<body>
		<h1 class="title">
			@ViewData["Title"]
		</h1>
		<p class="contacts">
			Фамилия: @Model.Surname
		</p>
		<p class="contacts">
			Имя: @Model.Name
		</p>
		<p class="contacts">
			Отчество: @Model.Midname
		</p>
		<p class="contacts">
			Телефон: @Model.Phone
		</p>
		<p class="contacts">
			Адрес: @Model.Address
		</p>
		<p class="contacts">
			Описание: @Model.Description
		</p>
		<a href="~/Home/Edit/@(Model.Id-1)">Изменить</a>
	</body>
</html>