@using Homework19.Models;
@model ContactBook
@{
	ViewData["Title"] = "Контакты";
}

<!DOCTYPE html>
<html>
<head>
	
</head>

<body>
	<h1>
		@ViewData["Title"]
	</h1>
	<h2>
		Некие контакты
	</h2>
	<table border="1">
		<tr>
			<th>
				ID
			</th>
			<th>
				Фамилия
			</th>
			<th>
				Имя
			</th>
			<th>
				Отчество
			</th>
		</tr>

		@foreach(var contact in Model.Contacts)
		{
		<tr>
			<td>
				<a href="Home/Details/@(contact.Id-1)">
					@contact.Id
				</a>
			</td>
			<td>
				@contact.Surname
			</td>
			<td>
				@contact.Name
			</td>
			<td>
				@contact.Midname
			</td>
		</tr>
		}
	</table>
</body>
</html>