@using MyHomework20.Models;
@model Contact
@{
	ViewData["Title"] = "Подробная информация";
	Layout = "_Layout";
}

<html>
	<head>
		
	</head>

	<body>
		<h1 class="title">
			@ViewData["Title"]
		</h1>
		<p class="contacts">
			Фамилия: @Model.Surname
		</p>
		<p class="contacts">
			Имя: @Model.Name
		</p>
		<p class="contacts">
			Отчество: @Model.Midname
		</p>
		<p class="contacts">
			Телефон: @Model.Phone
		</p>
		<p class="contacts">
			Адрес: @Model.Address
		</p>
		<p class="contacts">
			Описание: @Model.Description
		</p>
		<a href="~/Home/Edit/@(Model.Id)">Изменить</a> <br />
		<a href="~/Home/Delete/@(Model.Id)">Удалить</a> <br />
	</body>
</html>