@using MyHomework20.Models
@model Contact
@{
}

<html>
<head>
	<link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
	@using (Html.BeginForm("EditContact", "Home", FormMethod.Put))
	{
		@Html.HiddenFor(model => model.Id)
		<div class="form-group">
			@Html.LabelFor(model => model.Surname)
			@Html.TextBoxFor(model => model.Surname, new{@class = "form-control"})
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.Name)
			@Html.TextBoxFor(model => model.Name, new{@class = "form-control"})
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.Midname)
			@Html.TextBoxFor(model => model.Midname, new{@class = "form-control"})
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.Phone)
			@Html.TextBoxFor(model => model.Phone, new{@class = "form-control"})
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.Address)
			@Html.TextBoxFor(model => model.Address, new{@class = "form-control"})
		</div>
		<div class="form-group">
			@Html.LabelFor(model => model.Description)
			@Html.TextBoxFor(model => model.Description, new{@class = "form-control"})
		</div>
		<button type="submit" class="btn btn-primary">Сохранить</button>
	}
	@* <form name="editForm" controller = "Home" action="EditContact/@(Model.Id)" method="put">

		<label for="surname">
			Фамилия
		</label><br />
		<input type="text" name="Surname" value="@Model.Surname" /><br />

		<label for="name">
			Имя
		</label><br />
		<input type="text" name="Name" value="@Model.Name" /><br />

		<label for="midname">
			Отчество
		</label><br />
		<input type="text" name="Midname" value="@Model.Midname" /><br />

		<label for="phone">
			Телефон
		</label><br />
		<input type="number" name="phone" value="@Model.Phone" /><br />

		<label for="address">
			Адрес
		</label><br />
		<input type="text" name="Address" value="@Model.Address" /><br />

		<label for="description">
			Описание
		</label><br />
		<input type="text" name="Description" value="@Model.Description" /><br />

		<p><input type="submit" value="Сохранить изменения" /></p>
	</form> *@
</body>
</html>